# Twelve Labs
TWELVE_LABS_API_KEY=<your-twelve-labs-api-key>
TWELVE_LABS_MARENGO_INDEX_NAME=my-marengo-index
TWELVE_LABS_PEGASUS_INDEX_NAME=my-pegasus-index
TWELVE_LABS_MARENGO_MODEL=marengo3.0
TWELVE_LABS_PEGASUS_MODEL=pegasus1.2

# NVIDIA VSS
NVIDIA_VSS_BASE_URL=http://localhost:8080
VSS_UPLOAD_TIMEOUT=3000
